{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="ja">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {% block meta_tag %}{% endblock %}
  <link href="{% '../static/css/pc.css' %}" rel="stylesheet" type="text/css">
  <link href="{% '../static/css/smartphone.css' %}" rel="stylesheet" type="text/css">
  <link href="{% '../static/css/tablet.css' %}" rel="stylesheet" type="text/css">
  {% block css %}{% endblock %}
  <title>{% block title %}サービス名{% endblock %} <!--サービス名入力--></title>
</head>
<body>
<header>　<!-- https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js -->
  <div class="inner">
    <p class="logo"><a class="over" href="#">サービス名</a></p>
    {% block content %} <!--　ここで合ってる？ -->
    {% end block %}
    <ul class="navi">
      <li><a href="index.html">ホーム</a></li> #<!-- href 手直し必要 -->
      <li><a href="/service/">出品一覧</a></li>
      <li><a href="/case/">アカウント</a></li>
      <li><a class="button" href="/recruit/">出品</a></li>
    </ul>
  </div>
  <button class="sp-navi-toggle"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="menu">MENU</span><span class="close">CLOSE</span></button>
</header>
<script type="text/javascript" src="top.js"></script>
</body>