{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="ja">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {% block meta_tag %}{% endblock %}
  <link href="{% static 'css/pc.css' %}" rel="stylesheet" >
  <link href="{% static 'css/smartphone.css' %}" rel="stylesheet">
  <link href="{% static 'css/tablet.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}
  <title>
    {% block title %}サービス名{% endblock %} <!--サービス名入力-->
  </title>
</head>
