{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="ja">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {% block meta_tag %}{% endblock %}
  <link href="{% static 'css/pc.css' %}" rel="stylesheet" >
  {% block css %}{% endblock %}
  <title>
    {% block title %}サービス名{% endblock %} <!--サービス名入力-->
  </title>
</head>
<body>
  <header class="site-header">
    <div class="wrapper site-header__wrapper">
      <div class="site-header__start">
        <a href="#" class="brand">Brand</a>
        </div>
      <div class="site-header__middle">
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">About</a></li>
            <li class="nav__item"><a href="#">Services</a></li>
            <li class="nav__item"><a href="#">Hire us</a></li>
            <li class="nav__item"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="site-header__end">
        <a class="button" href="#">Sign in</a>
      </div>
    </div>
  </header>
</body>