{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>サービス名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/reset.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header-9.css' %}" />
  </head>
  <body>
    <header class="site-header"> <!-- https://github.com/shadeed/headers-css/blob/master/header-9.html#L15 -->
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="/" class="brand">サービス名</a>
        </div>
        {% block nav_bar %}
        {% endblock %}
      </div>
    </header>
    <script type="text/javascript" src="header-9.js"></script>
    {% block content %}
    {% endblock %}
  </body>
</html>