{% extends "header.html" %}
{% load static %}
{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <!-- <li class="nav__item"><a href="/">ホーム</a></li> -->
          <!-- <li class="nav__item"><a href="/mylist">出品一覧</a></li> -->
          <!-- <li class="nav__item"><a href="/user_edit">アカウント</a></li> -->
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}
{% block content %}
  <nav class="navbar navbar-light bg-light">
    <!-- 検索機能-->
    <form class="form-inline" action="" method="post"><!--actionのところには何を書けばいい？-->
      {% csrf_token%}
      <input class="form-control mr-sm-2" type="search" placeholder="何をお探しですか" value="{{query}}" name="q" aria-label="Search"><!--queryとnameを追加した-->
      <button class="btn" type="submit" value="送信" style="color: #fff; background-color: #2fa0f6;">検索</button>

      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="margin-left: 50px;" name = "genre">
        <option selected disabled>カテゴリー選択</option>
        <!-- 分類の表示-->
        {% for i in genre %}
        <option value="{{i.genre_name}}">{{i.genre_name}}</option>
        {% endfor %}
      </select>
    </form>
  </nav>
  <main>
    <!-- ユーザーの大学の出品中の商品を新着順で表示-->
    {% if item %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for i in item %}
    <div class="col">
      <div class="card h-100" href="/product">
        <img src="{% static i.icon %}" class="card-img-top" alt="商品画像">
        <div class="card-body">
          <h5 class="card-title">{{i.item_name}}</h5>
          <p>{{i.item_description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="ui segment warning message">
      <p>検索結果はありません。</p>
    </div>
    {% endif %}

  </main>

{% endblock %}