{% extends "header.html" %}
{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}
{% block content %}
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="何をお探しですか" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>カテゴリー選択</option>
        <!-- 分類の数分表示-->
        <option value="1">教科書</option>
        <option value="2">冷蔵庫</option>
        <option value="3">・・・・・・</option>
      </select>
    </form>
  </nav>
  <!-- ユーザーの大学の出品中の商品を新着順で表示-->
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 href="/product" class="card-title">商品名</h5>
    </div>
  </div>
{% endblock %}