{% extends "header.html" %}
{% load static %}
{% block content %}
    <main>
      <div class="Group">
        <div class="Group-Bar"></div>
          <div class="Group-Item isActive">
            <div class="Group-Item-CircleOuter Circle Shapeborder isActive">
            <div class="Group-Item-CircleInner Circle Shapeborder isActive"></div>
          </div>
          <p class="Group-Item-Text">メールアドレス認証</p>
        </div>
          <div class="Group-Item">
            <div class="Group-Item-CircleOuter Circle Shapeborder">
            <div class="Group-Item-CircleInner Circle Shapeborder"></div>
          </div>
          <p class="Group-Item-Text">大学認証</p>
        </div>
          <div class="Group-Item">
            <div class="Group-Item-CircleOuter Circle Shapeborder">
            <div class="Group-Item-CircleInner Circle Shapeborder"></div>
          </div>
          <p class="Group-Item-Text">ユーザー登録</p>
        </div>
        <div class="Group-Item">
          <div class="Group-Item-CircleOuter Circle Shapeborder">
            <div class="Group-Item-CircleInner Circle Shapeborder"></div>
            </div>
          <p class="Group-Item-Text">完了</p>
        </div>
      </div>

      <form method="post">
          <p>メールアドレス<br>
              <input type="email" name="mail" id="mail1" required>
          <p>メールアドレス（確認）<br>
              <input type="email" name="mail_confirm" id="mail1_confirm" required>
              <!--一致しているか判断してアラート表示(できたら)-->
          <button href="/university_register.html" class="button" type="submit" name="mail_register" value="メールアドレス認証">メールアドレス認証</button>
      </form>
    <!--アラート確認のため入力>
    <script type="text/javascript" src="{% static 'js/count.js' %}"></script>
　　　　　　　　<-->
    </main>
{% endblock %}
