{% extends "header.html" %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/login.html">ログイン</a></li>
          <li class="nav__item"><a href="/mail_register.html">新規登録</a></li>
        </ul>
      </nav>
    </div>
{% endblock %}

{% block content %}
    <form method="post">
        <p>メールアドレス<br>
            <input type="text" name="mail">
        <p>メールアドレス（確認）<br>
            <input type="text" name="mail_confirmation">
            <!--一致しているか判断して表示-->
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    一致していません
                </div>
            </div>
        <button href="/university_register.html" class="button" type="submit" name="mail_register" value="メールアドレス認証">メールアドレス認証</button>
    </form>

{% endblock %}
