<!--できれば実装-->

{% extends "header.html" %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}

{% block content %}
  <main>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- ユーザーの出品している商品を更新順で表示-->
    {% for i in # %} <!-- ユーザーの出品している商品を引っ張り出す方法がわからなかったです、、、-->
    <div class="card">
      <img src="..." class="card-img-top" alt="商品画像">
      <div class="card-body">
        <h5 class="card-title">{{i.item_name}}</h5>
        <a href="/product_recreate" class="button">編集</a>
        <!-- 削除したらデータを消してリダイレクト-->
        <a href="/mylist" class="button" style="background-color: red;">削除</a>
        <!--bootsrapのmodalでconfirmationを出してもいいかもね -->
        <p class="card-text" style="margin-top: 10%;">最終更新日時：{{i.#}}</p> <!-- 商品の更新日時をデータベースに追加して欲しいです。-->
      </div>
    </div>
    {% endfor %}
  </main>
{% endblock %}
