{% extends "header.html" %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}

{% block content %}
  <!-- ユーザーの出品している商品を更新順で表示-->
  <div class="card" style="width: 18rem; margin: 50px;">
    <img src="..." class="card-img-top" alt="商品画像">
    <div class="card-body">
      <h5 class="card-title">商品名</h5>
      <a href="/product_recreate" class="button">編集</a>
      <!-- 削除したらデータを消してリダイレクト-->
      <a href="/mylist" class="button" style="background-color: red;">削除</a>
      <p class="card-text" style="margin-top: 10%;">最終更新日時：〇〇月〇〇日〇〇時〇〇分</p>
    </div>
  </div>
{% endblock %}
