<!-- 未実装のページ -->
{% extends "header.html" %}
{% load static %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/index" style="text-decoration: none;">ホーム</a></li>
          <li class="nav__item"><a class="nav-link" href="{% url 'apps:logout' %}">ログアウト</a></li>
          <!--<li class="nav__item"><a href="/mylist" style="text-decoration: none;">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit" style="text-decoration: none;">アカウント</a></li>-->
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}
{% block content %}
      <p></p>
    <div id="image_info">
        <img id="mypic" src="{% static '線形代数.jpg' %}">
    <div id="item_info">
      <p class="product_name">チャート式シリーズ 大学教養 線形代数</p> <!-- item_nameお願いします -->
      <span class="category">カテゴリー</span>
      <span> 教科書</span> <!-- genre_nameお願いします -->
      <p></p>
      <span class="category">商品の状態</span>
      <span>目立った傷や汚れなし</span><!-- conditionの変数の名前わかりませんでした。。 -->
      <p></p>
      <div class="item_description">
        <span>経済学部1年生の必修の授業で使います。表面が少し汚れていますが、使用には問題ありません。</span> <!-- item_descriptionお願いします -->
      </div>
      <span class="category">　出品者　</span>
      <span class="seller_name">小坂 菜緒</span>
      <p></p>
      <button class="register_button" type="submit">　　　　　　　　　　連絡する　　　　　　　　　　</button>


    <script type="text/javascript" src="{% static 'js/product_image_slide.js' %}"></script>
  </main>
{% endblock %}