{% extends "header.html" %}
{% load static %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}
{% block content %}
    <div id="image_slide">
        <img id="mypic" src="pics/1.jpg" width="400" height="400">
        <input class="slide_button" type="button" value="<" onclick="go_back()">
        <input class="slide_button" type="button" value=">" onclick="go_forward()">
    </div>
    <p>商品名</p>
    <p>カテゴリー><a href="

    <script type="text/javascript" src="{% static 'js/product_image_slide.js' %}"></script>

{% endblock %}