{% extends "header.html" %}
{% load static %}
{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}
{% block content %}
<main>
  <form method="post" enctype="multipart/form-data">
      <div id="dragDropArea">
          <div class="drag-drop-inside">
              <p class="drag-drop-buttons">
                  <input id="fileInput" type="file" accept="image/*" value="ファイルを選択" name="photo" onChange="photoPreview(event)">
              </p>
              <p class="drag-drop-info">または、ドラッグ&ドロップ</p>
              <div id="previewArea"></div>
          </div>
      </div>
  </form>
  <form method="post">
      <p>商品名<br>
      <input id="area1" type="text" name="product_name" maxlength="40" onkeyup="product_name_str_len();" value="" placeholder={{ item_name }} required>  <!-- item_name お願いします -->
      <div id="product_name_str_len">0/40文字</div></p>
      <p>商品の状態<br>
      <select name="condition" required>
        <option value="" selected>aaa</option><!-- コンディションの変数（どれかわかりませんでした）お願いします あとplaceholderに変数を入れる方法がわからない。。-->
        <option value="unused">新品、未使用</option>
        <option value="almost_new">未使用に近い</option>
        <option value="no_damage">目立った傷や汚れなし</option>
        <option value="low_damage">やや傷や汚れあり</option>
        <option value="middle_damage">傷や汚れあり</option>
        <option value="high_damage">全体的に状態が悪い</option>
      </select></p>
      <p>カテゴリー<br>
      <select name="category" required>
        <option value="" selected>{{ genre_name }}</option> <!-- genre_nameお願いします -->
        <option value="text">教科書、参考書</option>
        <option value="furniture">家具</option>
        <option value="appliance">家電</option>
        <option value="bicycle">自転車</option>
        <option value="household_item">生活雑貨</option>
        <option value="others">その他</option>
      </select></p>
      <p>商品の説明<br>
      <textarea id="area2" name="comment" cols="30" rows="3" maxlength="500" onkeyup="product_explanation_str_len();" placeholder={{ item_description }} required></textarea> <!-- item_descriptionお願いします。あとplaceholderに変数を入れる方法がわからない。。 -->
      <div id="strLen">0/500文字</div></p>
      <button class="product_register_submit_button" type="submit" name="submit" value="出品">更新する</button>

  <script type="text/javascript" src="{% static 'js/product_image.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/count.js' %}"></script>
</main>
{% endblock %}
