{% extends "header.html" %}
{% load static %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    <div id="dragDropArea">
        <div class="drag-drop-inside">
            <p class="drag-drop-buttons">
                <input id="fileInput" type="file" accept="image/*" value="ファイルを選択" name="photo" onChange="photoPreview(event)">
            </p>
            <p class="drag-drop-info">または、ドラッグ&ドロップ</p>
            <div id="previewArea"></div>
        </div>
    </div>
    <button class="register_button" type="submit" name="submit" value="登録">画像を登録</button>
</form>
<form method="post">
    <p>商品名<br>
    <input type="text" name="product_name"></p>
    <p>商品の説明<br>
    <textarea name="comment" cols="30" rows="5"></textarea></p>

<script type="text/javascript" src="{% static 'js/product_image.js' %}"></script>
<script type="text/javascript" src="{% static 'js/product_create.js' %}"></script>

{% endblock %}
