{% extends "header.html" %}
{% load static %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}
{% block content %}
    <div id="image_slide">
        <img id="mypic" src="pics/1.jpg" width="400" height="400">
        <input class="slide_button_back" type="button" value="<" onclick="go_back()">
        <input class="slide_button_forward" type="button" value=">" onclick="go_forward()">
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <p class="product_name">商品名</p>
    <p>カテゴリー ＞ ”カテゴリー名”</p>
    <p>商品の状態 ＞ ”商品の状態”</p>
    <p>”商品の説明”</p>
    <p>出品者<br>
    <img id="" src="" width="30" height="30"> <!-- アイコン --></p>
    <p>ニックネーム</p><p>○○学部</p>

    <script type="text/javascript" src="{% static 'js/product_image_slide.js' %}"></script>

{% endblock %}