{% extends "header.html" %}

{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="{% url 'accounts:login' %}">ログイン</a></li>
          <li class="nav__item"><a href="{% url 'accounts:create' %}">新規登録</a></li>
        </ul>
      </nav>
    </div>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <p>アイコン<br>
        <div id="dragDropArea">
            <div class="drag-drop-inside">
                <p class="drag-drop-buttons">
                    <input id="fileInput" type="file" accept="image/*" value="ファイルを選択" name="photo" onChange="photoPreview(event)">
                </p>
                <p class="drag-drop-info">または、ドラッグ&ドロップ</p>
                <div id="previewArea"></div>
            </div>
        </div>
        <button class="register_button" type="submit" name="submit" value="登録">画像を登録</button>
    </form>
    <form method="post">
        <!--認証した大学名を表示-->
        <p>〇〇大学<br>
        <p>学部<br>
        <!--認証した大学の学部を選択-->
        <select name="condition" required>
            <option value="">選択してください</option>
            <option value="unused">法学部</option>
            <option value="almost_new">経済学部</option>
            <option value="no_damage">経営学部</option>
            <option value="low_damage">理学部</option>
            <option value="middle_damage">工学部</option>
        </select></p>
        <p>ニックネーム<br>
            <input id="area3" type="text" name="nickname" maxlength="40" onkeyup="nickname_str_len();" placeholder="現在のニックネーム">
            <script type="text/javascript" src="{% static 'js/count.js' %}"></script>
            <div id="nickname_str_len">0/40文字</div></p>
        <p>パスワード<br>
            <input id="area4" type="text" name="password" minlength="8" maxlength="16">
            <div id="password_str_len">8文字以上16文字以内で入力してください。</div></p>
        <p>パスワード（確認）<br>
            <input id="area5" type="text" name="password_confirmation" minlength="8" maxlength="16">
            <!--一致しているか判断して表示-->
            <div id="password_confirmation_str_len">一致していません。</div></p>

    <script type="text/javascript" src="{% static 'js/product_image.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/count.js' %}"></script>

{% endblock %}
