{% extends "header.html" %}
{% load static %}
{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}

{% block content %}
  <p>アイコン</p>
  <!--現在のアイコンを表示-->
  <img id="image_icon" src="../images/default_user.png">
  <form method="post" enctype="multipart/form-data">
      <div id="dragDropArea">
          <div class="drag-drop-inside">
              <p class="drag-drop-buttons">
                  <input id="fileInput" type="file" accept="image/*" value="ファイルを選択" name="photo" onChange="photoPreview(event)">
              </p>
              <p class="drag-drop-info">または、ドラッグ&ドロップ</p>
              <div id="previewArea"></div>
          </div>
      </div>
      <button class="register_button" type="submit" name="submit" value="登録">画像を登録</button>
  </form>
  <form method="post">
      <p>ニックネーム<br>
        <input id="area3" type="text" name="nickname" maxlength="40" onkeyup="nickname_str_len();" placeholder="現在のニックネーム">
        <script type="text/javascript" src="{% static 'js/count.js' %}"></script>
        <div id="nickname_str_len">0/40文字</div></p>
      <p>パスワード<br>
        <input id="area4" type="text" name="password" minlength="8" maxlength="16">
        <div id="password_attention">8文字以上16文字以内で入力してください。</div></p>
      <p>パスワード（確認）<br>
        <input id="area5" type="text" name="password_confirmation" minlength="8" maxlength="16">
        <!--一致しているか判断して表示-->
        <div id="password_confirmation">一致していません。</div></p>
      <p>学部<br>
        <!-- ユーザーの大学の学部を表示-->
        <select name="condition" required>
          <option value="">現在の学部</option>
          <option value="unused"></option>
          <option value="almost_new">法学部</option>
          <option value="no_damage">経済学部</option>
          <option value="low_damage">経営学部</option>
          <option value="middle_damage">理学部</option>
          <option value="high_damage">工学部</option>
        </select></p>
      <button class="button" type="submit" name="save" value="保存">保存</button>
    </form>
{% endblock %}}
