{% extends "header.html" %}
{% load static %}
{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/login.html" style="text-decoration: none;">ログイン</a></li>
        </ul>
      </nav>
    </div>
{% endblock %}

{% block content %}
  <main>
    <div class="Group">
      <div class="Group-Bar"></div>
      <div class="Group-Item">
        <div class="Group-Item-CircleOuter Circle Shapeborder">
          <div class="Group-Item-CircleInner Circle Shapeborder"></div>
        </div>
        <p class="Group-Item-Text">大学認証</p>
      </div>
      <div class="Group-Item isActive">
        <div class="Group-Item-CircleOuter Circle Shapeborder isActive">
          <div class="Group-Item-CircleInner Circle Shapeborder isActive"></div>
        </div>
        <p class="Group-Item-Text">ユーザー登録</p>
      </div>
      <div class="Group-Item">
        <div class="Group-Item-CircleOuter Circle Shapeborder">
          <div class="Group-Item-CircleInner Circle Shapeborder"></div>
        </div>
        <p class="Group-Item-Text">完了</p>
      </div>
    </div>
<div class="row">
    <div class="col-sm-6">
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label }}
                <br>
                {{ field }}
                <br>
                {{ field.errors }}
                <br>
            {% endfor %}
            <p></p>
            <button type="submit" class="user_button">登録</button>
        </form>
    </div>
</div>

  </main>
{% endblock %}
