<!--できれば実装-->

{% extends "header.html" %}
{% load static %}
{% block nav_bar %}
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="/">ホーム</a></li>
          <li class="nav__item"><a href="/mylist">出品一覧</a></li>
          <li class="nav__item"><a href="/user_edit">アカウント</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a class="button" href="/product_create">出品</a>
    </div>
{% endblock %}

{% block content %}
<main>
  <p>アイコン</p>
  <!--現在のアイコンを表示-->
  <img id="image_icon" src="../images/default_user.png">
  <form method="post" enctype="multipart/form-data">
      <div id="dragDropArea">
          <div class="drag-drop-inside">
              <p class="drag-drop-buttons">
                  <input id="fileInput" type="file" accept="image/*" value="ファイルを選択" name="photo" onChange="photoPreview(event)">
              </p>
              <p class="drag-drop-info">または、ドラッグ&ドロップ</p>
              <div id="previewArea"></div>
          </div>
      </div>
      <button class="register_button" type="submit" name="submit" value="登録">画像を登録</button>
  </form>
  <form method="post">
      <p>ニックネーム<br>
        <input id="area3" type="text" name="nickname" maxlength="40" onkeyup="nickname_str_len();" placeholder="{{user_name}}">
        <script type="text/javascript" src="{% static 'js/count.js' %}"></script>
        <div id="nickname_str_len">0/40文字</div></p>
      <label for="inputPassword5" class="form-label">パスワード</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">

      <div id="passwordHelpBlock" class="form-text">
          8文字以上16文字以内で入力してください。
      </div>
      <label for="inputPassword5" class="form-label">パスワード（確認）</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
      <!--一致しているか判断してアラート表示(できたら)-->
      <p>学部<br>
        <!-- ユーザーの大学の学部を表示(これは結局どうなったんだっけ)-->
        <select name="condition">
          <option value="">{{}}</option><!-- ユーザーの大学の学部をデータベースに作成できれば-->
          <option value="法学部">法学部</option>
          <option value="経済学部">経済学部</option>
          <option value="経営学部">経営学部</option>
          <option value="理学部">理学部</option>
          <option value="工学部">工学部</option>
        </select></p>
      <button class="button" type="submit" name="save" value="保存">保存</button>
  </form>
</main>
{% endblock %}}
