#dragDropArea{
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border: #ddd dashed 5px;
    min-height: 200px;
    text-align: center;
  }

#dragDropArea p{
  ã€€  color: #4169e1;
      font-weight: bold;
      font-size: 14px;
      font-size: 1.4em;
  }

#dragDropArea .drag-drop-buttons{
      margin-top: 20px;
      font-size: 12px;
      font-size: 1.2em;
  }

.drag-drop-buttons input{
      margin: auto;
  }