/*　ヘッダー */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

/* university.html */
.register_button {
  margin-left: 25vw;
}

/* user_register */
.col-sm-6 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Group {
  margin-left: auto;
  margin-right: auto;
}

.Group-Item-Text {
  font-family: "メイリオ";
}

.user_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.user_button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.user_button span {
  display: none;
}

/* login.html */
.login_form {
  margin-left: auto;
  margin-right: left;
}

.col-xs-4 {
  margin-left: auto;
  margin-right: auto;
}

/* product_create.html */
#strLen {
  color: #000000;
  display: inline-block;
}

.item_info {
  float: right;
  margin-right: 20vw;
}

.item_info p{
  font-size: 1.5vw;
}

.item_info input{
  width: 150%;
}
.item_name {
}

/* index.html */
.col {
  text-align: center;
}
.card-img-top {
  width: auto;
  height: 30vw;
  object-fir: cover;
}

.detail_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 12vw;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.detail_button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24vwx;
  height: 24vw;
  fill: #fff;
}

.detail_button span {
  display: none;
}

/* product.html */

.product_name {
  font-size: 3vw;
  font-weight:  bold;
}

#image_info {
  float: left;
  margin-left: 2vw;
}

#item_info {
  float: right;
  margin-right: 2vw;
  margin-left: 4vw;
}

.seller_name {
  font-size
}

.item_description {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}

.item_description p {
  margin: 0;
  padding: 0;
}
.category{
  padding: 0.5em 1em;
  margin: 2em 0;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.category p {
  margin: 0;
  padding: 0;
  font-weight: bold;

}
#mypic {
  position: relative;
  width: 30vw;
  height: auto;
}


/*
.slide_button_forward{
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  font-size: 20px;
  border: solid white 2px;
  padding: 7px;
  color: white;
  text-decoration: none;
  }
*/
  #image_slide .slide_button_forward {
    position: absolute;
    top: 50%;
    right: 1%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    font-size: 20px;
    border: solid white 2px;
    padding: 7px;
    color: white;
    text-decoration: none;
    }

#image_icon {
    width: 100px;
    height:100px;
    border-radius:50%;
    background-position: center;
}
