/*　ヘッダー */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

main{
  margin: 3% ;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

/* product_create.html */
#strLen {
  color: #FF0000;
  display: inline-block;
}

/* product.html */
.slide_button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #2285b1;
}

.slide_button a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.slide_button a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.slide_button a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

.product_name {
  font-size: 20px;
  font-size: 2.0rem;
}

#image_info {
  display: inline-block;
}

#mypic{
  position: relative;
}

/*
.slide_button_forward{
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  font-size: 20px;
  border: solid white 2px;
  padding: 7px;
  color: white;
  text-decoration: none;
  }
*/
<<<<<<< HEAD

/* mail_register.html */
.flex_test-box {
  padding:  10px;             /* 余白指定 */
}

.flex_test-item {
  padding: 10px;
  color:  #4D4D4D;               /* 文字色 */
  margin:  10px;              /* 外側の余白 */
  border-radius:  5px;        /* 角丸指定 */
}

.flex_test-item:nth-child(1) {
  background-color:  #d9f0f7; /* 背景色指定 */
}

.flex_test-item:nth-child(2) {
  background-color:  #E6E6E6; /* 背景色指定 */
}

.flex_test-item:nth-child(3) {
  background-color: #E6E6E6; /* 背景色指定 */
}

.flex_test-item:nth-child(4) {
  background-color:  #E6E6E6; /* 背景色指定 */
}

.flex_test-box {
  display: flex;              /* フレックスボックスにする */
  justify-content: center;
}
=======
  #image_slide .slide_button_forward {
    position: absolute;
    top: 50%;
    right: 1%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    font-size: 20px;
    border: solid white 2px;
    padding: 7px;
    color: white;
    text-decoration: none;
    }

#image_icon {
    width: 100px;
    height:100px;
    border-radius:50%;
    background-position: center;
}
>>>>>>> 90d3fdb2998b96c00123d2366294263c5ff056ec
